* {
  box-sizing: border-box !important;
}
.wrapper {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/*SELECT*/
.custom-select__input-container {
  padding: 0 !important;
  margin: 0 !important;
}

.custom-select__indicators {
  padding: 0 13px 0 0;
}