/*.search {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 10px;
  margin: 35px 0 45px;
}*/
/*.search form {
  
  width: 100%;
}*/
.search {
  display: block;
  box-sizing: border-box;
  max-width: 265px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid black;
  padding: 14px 5px 14px 15px;
  font-size: 13px;
}